<section class="article-block block-image-text block-image-text--right">
    <div class="block-image-text__container">
        <div class="block-image-text__content-container">
            <div class="block-image-text__content">
                <h3 class="block-image-text__title">Content Title</h3>
                <p class="block-image-text__text">Text content that appears next to the image...</p>
            </div>
        </div>
        <div class="block-image-text__image-container">
            <img 
                src="path/to/image.jpg" 
                alt="Image description" 
                class="block-image-text__image"
                loading="lazy"
            />
        </div>
    </div>
</section>