<section class="article-block block-list">
    <!-- For unordered lists -->
    <ul class="block-list__container block-list__container--unordered">
        <li class="block-list__item">
            <span class="block-list__content">First list item</span>
        </li>
        <li class="block-list__item">
            <span class="block-list__content">Second list item</span>
        </li>
    </ul>
    
    <!-- For ordered lists -->
    <ol class="block-list__container block-list__container--ordered">
        <li class="block-list__item">
            <span class="block-list__content">First ordered item</span>
        </li>
        <li class="block-list__item">
            <span class="block-list__content">Second ordered item</span>
        </li>
    </ol>
</section>